@import "basic.scss";


// Landing section ---------------------------------------
@media screen and (max-width: 1366px) {

    .name {
        width: 30vw;
    }

    .profession {
        font-size: 4vw;
    }

}

@media screen and (max-width: 1024px) {

    .name {
        width: 42vw;
    }

    .profession {
        font-size: 5vw;
    }

}

@media screen and (max-width: 720px) {

    .name {
        width: 50vw;
        margin-top: 1.5em;
    }

    .profession {
        color: $side-color;
        font-size: 6vw;
    }

    .landing-container {
        background-image: url("./../img/landing-bg-responsive.jpg");
    }

    .text-container {
        border: 3px solid $cta-color-vibrant;
        padding: 1.5em;
    }
}

@media screen and (max-width: 480px) {

    .name {
        width: 56vw;
        margin-top: 3.5em;
    }

    .profession {
        display: none;
    }

    .text-container {
        margin-top: 10vh;
    }

    .profession-small {
        display: block;
        font-size: 7vw;
        margin-top: 1em;
        margin-bottom: 2em;
        color: $side-color;
        text-align: center;
        line-height: 1.2;
    }
}

// About section ---------------------------------------
@media screen and (max-width: 1024px) {

    .about-container {
        h1{
            font-size: 50px;
        }
    }
    
    .intro-text {
        width: 68%;
        font-size: 20px;
    }
    
    .button {
        padding: 10px 24px;
        p {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 720px) {

    .about-container .button {
        margin-bottom: 2em;
    }

    .about-container {
        h1{
            margin-top: 24px;
        }
    }

    .intro-text {
        width: 86%;
    }
}

@media screen and (max-width: 480px) {

    .about-container {
        h1{
            text-align: left;
            align-self: flex-start;
            margin-left: 4%;
        }
    }
    .intro-text {
        width: 92%;
        text-align: left;
        font-size: 18px;
    }

    .button {
        padding: 12px 22px;
        width: 80%;
        p {
            font-size: 17px;
        }
    }
}

// Projects section ---------------------------------------
@media screen and (max-width: 1366px) {

    .projects-container {
        grid-template-columns: repeat(2, 400px);
    }

    .project-pic {
        width: 400px;
        height: auto;
    }

    .project-description {
        width: 90%;
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {

    h1{
        font-size: 50px;
    }

    .projects-title {
        margin-top: 60px;
    }

    .projects-container {
        grid-template-columns: repeat(2, 300px);
    }
    
    .project-pic {
        width: 300px;
        height: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .project-description {
        font-size: 16px;
        text-align: left;
    }

    .project-button {
        margin-top: 0px;
    }
}

@media screen and (max-width: 720px) {

    .projects-container {
        grid-template-columns: repeat(1, 70vw);
    }
    
    .project-pic {
        width: 70vw;
    }
}

@media screen and (max-width: 480px) {

    .projects-container {
        grid-template-columns: repeat(1, 85vw);
    }
    
    .project-pic {
        width: 85vw;
    }

    .project-description {
        font-size: 14px;
    }
}

// Contact section ---------------------------------------
@media screen and (max-width: 1024px) {

    #contact {
        h1{
            font-size: 50px;
        }
    }
}

@media screen and (max-width: 720px) {

    #contact {
        h1{
            margin-top: 24px;
        }
    }

    .social-link-container {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 480px) {

    #contact {
        h1{
            text-align: left;
            align-self: flex-start;
            margin-left: 4%;
        }
    }
    
    .social-icon {
        width: 30px;
        margin-right: 12px;
    }
}

// Footer section ---------------------------------------
@media screen and (max-width: 720px) {
    .footer-text {
        font-size: 14px;
        line-height: 0.9;
    }
}